* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    color: rgba(255, 255, 255, 0.8);
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
}

body{
    background:rgba(0, 0, 0, 0.7) url(../assets/bg-2.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

body * {
    font-family: "Inter", sans-serif;
}

#container {
    width: 100%;
    max-width: 1024px;
    margin: 56px auto 0px ;
    padding: 0px 0px;
}

/* profile */
#profile {
    text-align: center;
    padding: 30px;
}

#profile img {  
    width: 250px;
    border-radius: 80%;
    border: 1px solid rgba(155, 19, 19, 0.2);
    padding: 10px;
}

#profile p {
    color: rgba(191, 23, 23, 0.7);

}

#navegation a {
    color: rgba(191, 23, 23, 0.7);
    padding: 15px 10px 0px 4px;
    text-decoration: none;
       
}

/* textos */
h1 {
    display: flex;
    justify-content: center;
    color: rgba(191, 23, 23, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
}

h2 {
    display: flex;
    justify-content: center;
    color: rgba(191, 23, 23, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 500;
}

p {
    color: rgba(191, 23, 23, 1);
    padding: 20px 5;
}

/* social links*/
#social-links {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-inline: 10px;
}

#social-links .action {
    margin-left: 20px;
    margin-right: 20px;
}

/* footer */
.footer {
    background-color: #000;
    padding-top: 300px;
    padding-bottom: 30px;
}